* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, #392657 0%, #392657 100%)
}

.contener {
    display: block;
}

header {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    cursor: pointer;
    margin: 50px 0 0 647px;
    text-decoration: underline rgb(161, 120, 185, 1);




}

a:hover {
    opacity: calc(0.4);
}

a:active {
    opacity: calc(0.8);
}

.link-header {
    margin-right: 40px;
}

h1 {
    color: #CC8BF2;
    font-weight: 500;
    font-size: 96px;
    line-height: 115px;
    width: 726px;
    height: 96px;
    left: 59px;
    top: 180px;
    text-decoration: underline rgb(161, 120, 185, 1);
    margin-left: 59px;

}

section {
    display: inline-block;
    text-align: center;
}


.foto-meninas {

    margin: 76px 0 27px 74px;
    height: 277px;
}

.perfume {

    position: absolute;
    width: 486.27px;
    height: 277px;
    left: 728px;
    top: 259px;

}

.meninas-site {
    position: absolute;
    width: 487.76px;
    height: 277px;
    left: 1375px;
    top: 259px;

}


.foto-1 {

    position: absolute;
    width: 400px;
    height: 38px;
    left: 45px;
    top: 399x;
    color: #FFFFFF;
    text-decoration: underline rgb(161, 120, 185, 1);
    font-weight: 500;
    font-size: 36px;

}

.foto-2 {
    position: absolute;
    width: 373px;
    height: 38px;
    left: 400px;
    top: 400x;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;

    text-decoration: underline rgb(161, 120, 185, 1);
}

.foto-3 {
    position: absolute;
    width: 373px;
    height: 38px;
    left: 1433px;
    top: 560px;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: underline rgb(161, 120, 185, 1);
}





.paragrafo-1 {
    position: absolute;
    width: 489px;
    height: 58px;
    left: 62px;
    top: 650px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;

}

.paragrafo-2 {
    position: absolute;
    width: 489px;
    height: 58px;
    left: 733px;
    top: 650px;
    font-weight: 300;
    font-size: 24px;

    text-align: center;

    color: #FFFFFF;
}

.paragrafo-3 {
    position: absolute;
    width: 489px;
    height: 58px;
    left: 1375px;
    top: 650px;
    font-weight: 300;
    font-size: 24px;

    text-align: center;

    color: #FFFFFF;
}

button {
    position: absolute;
    width: 361px;
    height: 92px;
    left: 780px;
    top: 904px;
    position: absolute;
    width: 361px;
    height: 92px;
    left: 780px;
    top: 800px;
    background: linear-gradient(111.97deg, #CC8BF2 35.63%, rgba(204, 139, 242, 0) 150.16%);
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    position: absolute;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, );
    cursor: pointer;
    border: none;
}

button:hover {
    opacity: calc(.4);
}

button:active {
    opacity: calc(.8);
}

@media screen and (max-width: 1338px) {
    .contener {

        width: 100vh;
        height: 50vw;
        padding: 0;
        margin: auto;
    }

    section {
        display: block;
        text-align: center;
        height: auto;
        width: 100%;
        position: static;
        margin-left: 50px;
        margin: 40px;
    }

    figure {
        display: block;
    }


    header {
        display: none;
    }

    h1 {
        font-size: 70px;
        margin-left: 392px;
        width: center;
        margin-top: 20px;
        margin-bottom: 10%;

    }



    .foto-meninas {
        position: inherit;
        margin-left: 148px;
        top: 1214px;

    }



    .perfume {
        position: static;
        margin-top: 100px;
        margin-left: 151px;
    }

    .meninas-site {

        left: 208px;
        top: 1214px;
        top: 1104px;
        margin-left: 91px;
    }

    .foto-1 {
        margin-left: 124px;
    }

    .foto-2 {
        left: 120px;
        margin-left: 52px;
    }

    .foto-3 {
        left: 310px;
        top: 1416px;
        margin-left: 37px;
    }


    asid {
        display: none;
    }

    button {

        position: static;
        height: 80px;
        width: 300px;
        margin-top: 1330px;
        margin-left: 406px;
    }

}